@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: black;
}

.postcard {
  background-color: white;
  width: 50%;
  margin: 160px auto;
  padding: 20px;
  display: block;
}

.postcard-header {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.postcard-header img {
  vertical-align: middle;
  height: 80px;
}

.postcard-body {
  width: 80%;
  margin: 0 10%;
  display: flex;
}

.postcard-body form input {
  color: gray;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid gray;
}
.postcard-body form input + input {
  margin-top: 10px;
}
.postcard-body form input:focus {
  outline: none;
  border-bottom: 2px solid black;
}
